.page-heading {
    text-align: center;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.black {
    background-color: black;
}


html, body {
    height: 100%;
}

.pointer:hover {
    cursor: pointer;
}

#app, #app .row:first-child {
}

#app > .row > .col-md-3 {
    min-height: calc(100vh);
}

#sidebar {
    overflow: hidden;
    z-index: 3;
    height: 100%;
    background-color: #D1B48C;
}

#sidebar .list-group {
    background-color: #D1B48C;
    min-height: 100vh;
}


#sidebar .list-group-item {
    min-width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #D1B48C;
    color: #226CAB; 
    border-left: 0;
    border-right: 0;
    <!--border-color: #2c2c2c;-->
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"] {
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;
}

#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
    padding-left: 20px;
}


/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menu-glyph {
    background-color: #5B9CC6; 
    border-radius: 5px;
    padding: 7px;
}

#sidebar .menu-glyph {
    margin: 8px;
    margin-left: 12%;
}

#sidebar .menu-glyph img {
    width: 24px;
}

.sidebar-header {
    background-color: #A38459;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 12px;
}

.sidebar-title {
    font-weight: bold;
}

.sidebar-logo {
    margin: 0 auto;
    width: 78%;
    min-width: 150px;
}

.sidebar-logo img {
    width: 100%;
}

.small {
    font-size: .8em;
}

#user-id-logout {
    text-align: center;
    line-height: 1em;
}

.info {
    color: #971665;
}

.bold-12 {
    font-weight: bold;
    font-size: 1.2em;
}


.row main, .row .collapse {
    -webkit-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    -moz-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    -o-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}

.main-button-row {
    padding-top: 1em;
    padding-bottom: 1em;
}

/*cover wait spin*/

.cover-wait {
    background-color: rgba(127, 127, 127, .5); 
    color: #51422C; 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1200;
}
.cover-wait h2 {
    font-size: 4em;
}


/*end cover wait spin*/


/*buttons*/
.cell-buttons  {
}

.cell-buttons .icn {
    display: inline-block;
    color: #5B9CC6;
    margin-right: 12%; 
}

.cell-buttons .icn:hover {
    cursor: pointer;
    opacity: .8;
}

button svg {
    margin-right: 5px;
}

button.disabled {
    opacity: .7;
    background-color: #c2c2c2 !important;
    border: none !important;
}

button.disabled:hover {
    cursor: not-allowed;
}

.btn-lb {
    background-color: #5B9CC6;
}

.btn-plus::before {
    display: none;
    font-family: "Font Awesome 5 Solid";
    content: "\f067";
    margin: 15px;
}

/*end buttons*/


/*tables*/
.atable {
}

.atable th {
    background-color: #A38459;
    color: #fff;
    border-left: 1px solid #fff;
}
.atable td {
    border-left: 1px solid #c2c2c2;
}
.atable td:first-child {
    border-left: 2px solid #fff;
}

/*end tables*/


/*modal*/
.photo-upload-panel {
    /*background-color: red;*/
}
.photup-button-row {
    border: 1px solid #c2c2c2;
    border-bottom: none;
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: -2px;
    z-index: -1;
    padding: 2px 5px 3px 5px;
}
.photup-title-row {
    border: 1px solid #c2c2c2;
    border-top: none;
    border-bottom: none;
    font-size: 1em;
    margin-top: -2px;
    margin-bottom: 5px;
    z-index: -1;
    width: 100%;
    padding: 3px 0px 0px 0px;
}
.photup-title-row input {
    font-size: .9em;
    max-width: 100%;
    min-width: 100%;
    margin-top: 3px;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    padding-left: 5px;
}
.photup-title-row input:focus {
    outline: none;        
    border-bottom: 1px solid #5B9CC6;
}

.photup-button-row .rmv-upload {
    float: right;
    color: #5B9CC6;
}
.modal-checkbox {
    transform: scale(1.7);
    text-align: left;
    width: 2em !important;
}
.modal-photo-row {
    min-height: 150px;
}
.modal-photo-row .photo-drop {
    border: 1px dashed #5B9CC6;
    border-radius: 5px;
    padding: .5em;
    height: 125px;
    text-align: center;
    overflow: hidden;
    /*margin-top: 8px;*/
}
.modal-photo-row .photo-drop h5 {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 0px;
}
.modal-photo-row .photo-drop .sel-photo {
    font-size: 11pt; 
}
.modal-photo-row .photo-drop .sel-photo label {
    color: #5B9CC6;
    text-decoration: underline;
}
.modal .fg-inline {
    display: inline-block;
    text-align: left;
}
.modal .fg-inline-2 {
    width: 50%;
}
.modal .fg-inline-3 {
    width: 32.9%;
}
.modal .fg-inline input, .modal .fg-inline select {
    max-width: 93%;
}
.modal .btn-plus {
    margin-left: .5em;
    margin-bottom: .5em;
}

.modal-multi-sel {
    color: #5B9CC6;
}

.modal-multi-del {
    margin-left: 5px;
    padding-bottom: 5px;
}

.upload-thumb {
    height: 100%;
    overflow-x: hidden;
}


/*end modal*/


@media (min-width:992px) {
    #sidebar {
        max-width: 250px;
    }
}

@media (max-width:992px) {
    #sidebar .menu-glyph {
        margin-left: 0px;
    }
    #sidebar a span {
        display: block;
    }
}

@media (max-width:768px) {
    #sidebar {
        min-width: 80px;
    }
    #sidebar .menu-glyph {
        display: block;
        text-align: center;
        margin: 0 auto;
        min-width: 80px;
    }
    #sidebar .list-group-item {
        padding: 0;
        width: 100%;
    }
    #sidebar a span:not(.menu-glyph) {
        display: none;
    }
    .sidebar-logo {
        width: 100%;
        min-width: 0;
    }
    .page-heading {
        padding-top: 5px;
    }
}
