{% extends 'site/layout.html' %}

{% block title %}
About
{% endblock %}

{% block css %}
<style>
  .featured {
      padding-top: 2vh;
      color: #B79A2D;
  }
  .featured h4 {
      margin: 0px;
      font-size: 18pt;
      color: #B79A2D;
  }
  .featured hr {
      margin: 0px;
      margin-bottom: 1em; 
      color: #B79A2D;
      background-color: #B79A2D;
      border-color: #B79A2D;
  }
</style>
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 featured">
      <i><h4>About Us</h4></i>
      <hr>
    </div>
    <div class="col-md-12">
      <p>
      Quite simply, our goal is to develop daylilies that perform in less than ideal conditions.  We want to extend the availability of these beautiful flowers to people who garden in less than ideal circumstances.
      </p>
        <img src="{{ url_for('static', filename='home-slide-photos/lab-thumb.jpg') }}" class="lightbox enhance" height="300" align="left" style="margin: 1em;" data_photo_720="{{ url_for('static', filename='home-slide-photos/lab.jpg') }}" data_photo_360="{{ url_for('static', filename='home-slide-photos/lab.jpg') }}">
      <p>
      Monte Vista Gardens is located in the shadows of Utah’s Rocky Mountain Wasatch range.   The scenery is beautiful, but the environment can be harsh.  Every winter temperatures dip below zero degrees and summer temperatures approach 100 degree regularly.  Daily fluctuations of 40 or more degrees are typically.  Humidity is almost always very low and 30% would not be untypical.  Harsh, drying desert winds blow many afternoons.
      The pH of both the soil and irrigation water are over 8.  Rainfall is very limited, so irrigation is an absolute must. 
      </p>
      <p>
      Selecting daylilies in this environment is challenging but it is our experience that plants selected in this environment will perform wonderfully not only in the mountain west but also in many other parts of the nation.  And we are having some success.  In a sense we are, as Isaiah foresaw, making the desert blossom as a rose. 
      </p>
      <br>
      <p><center><b>
      If you can, come see us.  You are always welcome.<br> But if a visit is not possible test one of our introductions in your garden and let us know how it performs.
      </center></b>
      </p>
    </div>
  </div>
</div>


<div id="photo-lightbox"></div>


{% endblock %}


{% block js %}
    {% assets 'public_home_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        var boxes = $('.nav-box');
        $('.nav-link.active').removeClass('active');
        $('.nav-box.active').removeClass('active');

        $(boxes[2])
            .addClass('active')
            .children()
            .addClass('active');

    </script>

{% endblock %}
