{% extends 'site/layout.html' %}

{% block title %}
  {{ name }}
{% endblock %}

{% block css %}
<style>

  .card {
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
      border: 0px;
      background-color: rgba(255, 255, 255, 0);
      color: #817342;
  }
  .front-plant-box {
      padding-top: 2vw;
      padding-bottom: 1vw;
  }
  .front-plant-box .plant-name {
      text-align: center;
      font-size: 1em;
      <!--background-color: #E5EBF3;-->
      margin: 0 auto;
      margin-top: .25em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: .25em;
      padding-bottom: .25em;
      width: 95%;
  }
  .front-plant-box .plant-name a {
      color: #45711C; 
  }
  .front-plant-box .plant-name a:hover {
      color: #5C7CA9;
  }
  .front-plant-box .plant-img {
      width: 100%;
      text-align: center;
  }
  .front-plant-box .plant-img img {
      width: 95%;
  }
  .featured {
      padding-top: 3vh;
      color: #B79A2D;
  }
  .featured h4 {
      margin: 0px;
      font-size: 22pt;
      color: #B79A2D;
  }
  
</style>
{% endblock %}


{% block content %}

<div class="container">
  <div class="row featured">
    <div class="col-md-12">
      <i><h4>{{ name }}</h4></i>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">{{ info.category.html | safe }}</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for f in info.plants %}
      {% for p in f.photos %}
        {% if p.is_featured %}
          <div class="col-md-3 col-sm-4 col-4">
            <div class="front-plant-box">
              <div class="plant-img">
                <img src="{{ p.url_thumb }}" class="lightbox" data_photo_360="{{ p.url_360 }}" data_photo_720="{{ p.url_720 }}"></img>
              <div class="plant-name"><a href="/site/plants/{{ f.name | urlencode }}/{{ f.id }}">{{ f.name }}</a></div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>


<div id="photo-lightbox"></div>


{% endblock %}



{% block js %}

    <script>
        $('.nav-link.active').removeClass('active');
        $('.nav-box.active').removeClass('active');
    </script>


    {% assets 'public_home_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
