{% extends 'site/layout.html' %}

{% block title %}
Contact
{% endblock %}

{% block css %}
<style>
  
</style>
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <br>
        <h5>
            <center>
                Stop by for tour (July is a good time, call first to make sure we are around), drop us a note or give a call. 
            </center>
        </h5>
        <br>
        <p>
            Email: paul(at)mvdaylilies.com 
        </p>
        <p>
            Phone: 801 703 4670 
        </p>
    </div>
    <div class="col-md-12">
<div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=10578%20S%205200%20W%20Payson%20Utah%2084651+(Monte%20Vista%20Daylilies)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><br />
    </div>
  </div>
</div>


<div id="photo-lightbox"></div>


{% endblock %}


{% block js %}
    {% assets 'public_home_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        var boxes = $('.nav-box');
        $('.nav-link.active').removeClass('active');
        $('.nav-box.active').removeClass('active');

        $(boxes[3])
            .addClass('active')
            .children()
            .addClass('active');

    </script>

{% endblock %}
