{% extends 'site/layout.html' %}

{% block title %}
Home
{% endblock %}

{% block css %}
<style>
  .photo-holder {
  }
  .photo-holder > .col {
      padding: 2px !important;
  }

  .photos-holder-wide {
      min-width: 100%;
      max-width: 100%;
  }

  .photos-holder-long {
      min-width: 100%;
      max-width: 100%;
  }
  
    /* position: absolute;
  .photo-holder img {
    display: block;
    max-width: 100%;
    min-width: 100%;
     position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  */

  .link-row {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .link-row div {
    whitespace: nowrap;
  }
  .link-row div.inactive {
  }
  .link-row div b {
    font-size: 18pt;
  }
  .link-row div a {
    min-width: 100%;
    text-align: center;
    color: #7E9C61; 
    font-size: 18pt;
  }
  .link-row div a:hover {
    color: #3533C0; 
    text-decoration: none;
  }
  .link-row div a.active {
    font-style: italic;
    color: #B79A2D;
  }
  .link-row div a:not(.active) {
  }
  #front-top-right {
    padding-top: 1.3vh;
  }
  .list-row {
    text-align: center;
  }
  .list-row-list {
    width: 85%;
    margin: 0 auto;
  }
  .list-row a {
    display: block;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: left;
    background-color: #7E9C61; 
  }
  .list-row a:hover {
    color: #3533C0; 
    text-decoration: none;
  }
  .list-row div {
  }
  .list-row-list.inactive {
      display: none;
  }
  .front-plant-box {
      padding-top: 2vw;
      padding-bottom: 1vw;
  }
  .front-plant-box .plant-name {
  }
  .front-plant-box .plant-name a {
    display: block;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: left;
    background-color: #7E9C61; 
  }
  .front-plant-box .plant-name a:hover {
    color: #3533C0; 
    text-decoration: none;
  }
  .front-plant-box .plant-img {
      width: 100%;
      text-align: center;
  }
  .front-plant-box .plant-img img {
      width: 95%;
  }
  .featured {
      padding-top: 2vh;
      color: #B79A2D;
  }
  .featured h4 {
      margin: 0px;
      font-size: 18pt;
      color: #B79A2D;
      font-style: italic;
  }
  .featured hr {
      margin: 0px;
      color: #B79A2D;
      background-color: #B79A2D;
      border-color: #B79A2D;
  }


  @media only screen and (max-width: 992px) {
     #front-top-right {
       margin-top: 0px;
     }
  }

  @media only screen and (max-width: 772px) {
    .photo-holder {
        display: none;
    }
  }

  
</style>
{% endblock %}


{% block content %}

<div style="padding-top: 5vh;">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 link-row">
        <div>
          <a href="#" data-toggles="category-list" class="active list-toggle">Releases</a>
        </div>
        <div><b> | </b></div>
        <div class="">
          <a href="#" class="list-toggle" data-toggles="latest-list">Latest</a>
        </div>
      </div>
      <div class="cols-lg-8 col-md-6 col-sm-12">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row list-row">

      <div class="col-md-4 col-sm-12">
        <hr>

        <div id="category-list" class="list-row-list">
          {% for cat in categories %}
          <div class="">
          <a href="/site/categories/{{ cat.name | urlencode }}">{{ cat.name }}</a>
          </div>
          {% endfor %}
          <br>
          <div class="">
          <a href="/site/categories/other_specialties">Other Specialties</a>
          </div>
          <div class="">
          <a href="/site/full_list">Full List</a>
          </div>
        </div>

        <div id="latest-list" class="list-row-list inactive">
          {% for l in latest %}
          <div class="">
          <a href="/site/plants/{{ l.name | urlencode }}/{{ l.id }}">{{ l.name }}</a>
          </div>
          {% endfor %}
        </div>


      </div>

      <div id="front-top-right" class="col-md-8 col-sm-12">

        <div class="row photo-holder">
          <div class="col col-md-12">
              <img class="photos-holder-wide" src="{{ url_for('static', filename='home-slide-photos/montage.jpg') }}">
          </div>
          <div class="col col-md-4">
              <img class="photos-holder-wide" src="{{ url_for('static', filename='home-slide-photos/beds_long.jpg') }}">
          </div>
          <div class="col col-md-8" style="display: flex; flex-direction: column; justify-content: space-between;">
              <img class="photos-holder-wide" src="{{ url_for('static', filename='home-slide-photos/beds_wide1.jpg') }}">
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container" style="padding-top: 1vh;">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <center>
        <p>
        <h4>
Autumn is a second spring when every leaf is a flower. 
        </h4>
        </p>
        <p>
        <i>- Albert Camus</i>
        </p>
      </center>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <p>
        <center>
        A hybridizer and selector of fine daylilies, Monte Vista is located in the shadows of the Wasatch mountains. Our approach is to mass produce volumes of daylily selecting based on body charactaristics (such as branching), growth habit and beauty of bloom. Although our selection is for top performance in Western US climates, these plants will thrive in many regions of the country.
        </center>
      </p>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

<div class="container" style="padding-top: 2vh;">

  <div class="row">
    <div class="col-md-12 featured" style="padding-top: 2vh;">
      <i><h4>Featured Plants</h4></i>
      <hr>
    </div>
  </div>


  <div class="row">

    {% for f in featureds %}
      <div class="col-md-3 col-sm-4 col-4">
        <div class="front-plant-box">
          <div class="plant-img">
            {% if f.photos|length > 0 %}
            <img src="{{ f.photos[0].url_thumb }}" class="lightbox" data_photo_360="{{ f.photos[0].url_360 }}" data_photo_720="{{ f.photos[0].url_720 }}"></img>
            {% endif %}
          </div>
          <div class="plant-name"><a href="/site/plants/{{ f.name | urlencode }}/{{ f.id }}">{{ f.name }}</a></div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>

<div id="photo-lightbox"></div>


{% endblock %}


{% block js %}
    {% assets 'public_home_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
    </script>

{% endblock %}

