<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    {% assets 'vendor_css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
    {% assets 'mvd_css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
    <link rel="stylesheet" href="{{ url_for('site.static', filename='fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css') }}">

  {% block css %}
  {% endblock %}

  </head>
  <body>

    <div id="mvd-app">

        <nav class="navbar navbar-expand-lg">

            <div class="container-fluid header">
              <div class="row">
                <div class="col-md-6 col-xs-12 logo-holder">
                  <a class="navbar-brand" href="/">
                    <div class="nav-logo">
                      <img src="{{ url_for('site.static', filename='img/mvd-logo-green-600.png') }}">
                    </div>
                  </a>
                </div>

                <div class="col-md-6 col-xs-12 header-right">

                  <div class="nav-row">
                      <div class="nav-box active">
                        <a class="nav-link active" href="/site">Home</a>
                      </div>
                      <div class="nav-box">
                        <a class="nav-link" href="/site/shop">Order</a>
                      </div>
                      <div class="nav-box">
                        <a class="nav-link" href="/site/about">About</a>
                      </div>
                      <div class="nav-box">
                        <a class="nav-link" href="/site/contact">Contact</a>
                      </div>
                  </div>

                  <div class="search-holder">

                    <div id="top-search" class="cloaked">
                      <i class="fas fa-search" v-on:click="showResults()"></i>
                      <input v-on:keyup="autoShowResults" v-model="keyword" id="top-search-input">
                      <!--<input v-show="show_search" v-on:keyup="showResults" v-model="keyword" id="top-search-input">-->
                      <div v-show="show_result" v-bind:style="resultPosition" id="search-result">
                        <div v-on:mousedown="toggleSearch" class="float-right action-text larger1">X</div>
                        <br>
                        <hr>
                        <ul>
                          <li v-if="results.length < 1">No results found</li>
                          <li v-for="rslt in results">
                              <a v-bind:href="'/site/plants/' + encodeURIComponent([[ rslt.name ]]) + '/' + [[ rslt.id ]]">[[ rslt.name ]]</a>
                              <p v-html="rslt.text"></p>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
        </nav>


      <div class="main-content">
      {% block content %}
      {% endblock %}
      </div>

    </div>

    <footer class="footer">   
      <center>&copy; 2018 Monte Vista Daylilies</center>
    </footer>

    {% assets 'public_vendor_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets 'public_custom_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block js %}
    {% endblock %}

  </body>
</html>
