{% extends 'site/layout.html' %}

{% block title %}
{{ name }}
{% endblock %}

{% block css %}
<style>
  .photo-holder {
    display: block;
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .photo-holder img {
    display: block;
    max-height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .front-plant-box .plant-img {
      width: 100%;
      text-align: center;
  }
  .front-plant-box .plant-img img {
      width: 95%;
  }
  .front-plant-box .plant-name {
      text-align: center;
      font-size: 1em;
      margin: 0 auto;
      margin-top: .25em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: .25em;
      padding-bottom: .25em;
      width: 95%;
  }
  .featured {
      padding-top: 3vh;
      color: #B79A2D;
  }
  .featured h4 {
      margin: 0px;
      font-size: 22pt;
      color: #B79A2D;
  }
  .featured hr {
      margin: 0px;
      color: #B79A2D;
      background-color: #B79A2D;
      border-color: #B79A2D;
  }
  #price-cart-holder {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
  }
  #price-cart-holder div {
      margin: 1em;
      margin-top: 0;
      margin-bottom: 3px;
  }
  #price-cart-holder input {
      width: 5em;
      padding-left: 3px;
  }
  .price {
      font-size: 16pt;
      color: #45711C;
  }
  .card {
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
      border: 0px;
      background-color: rgba(255, 255, 255, 0);
      color: #817342;
  }
</style>
{% endblock %}


{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12 featured" style="padding-top: 3vh;">
      <i><h4>{{ info.name }}</h4></i>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-body">{{ info.html | safe }}</div>
    </div>
  </div>


  <div class="row">
    {% for f in info.photos %}
      <div class="col-md-3 col-sm-4 col-4">
        <div class="front-plant-box">
          <div class="plant-img">
            <img src="{{ f.url_thumb }}" class="lightbox" data_photo_360="{{ f.url_360 }}" data_photo_720="{{ f.url_720 }}"></img>
          <div class="plant-name">{{ f.title }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


</div>


<div id="photo-lightbox"></div>


{% endblock %}


{% block js %}
    {% assets 'public_home_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>

        (function() {
            $('.nav-link.active').removeClass('active');
            $('.nav-box.active').removeClass('active');
        }());

    </script>

{% endblock %}
