{% extends 'site/layout.html' %}

{% block title %}
Shop
{% endblock %}

{% block css %}

<style>
</style>

{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12" id="full-inventory-holder">
        //TODO pdf order form
    </div>
  </div>
</div>

{% endblock %}


{% block js %}
    {% assets 'public_home_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets 'public_shop_js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        var boxes = $('.nav-box');
        $('.nav-link.active').removeClass('active');
        $('.nav-box.active').removeClass('active');

        $(boxes[1])
            .addClass('active')
            .children()
            .addClass('active');

    </script>





{% endblock %}
