<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/node_modules/datatables.net-dt/css/jquery.dataTables.css">
    <link rel="stylesheet" href="static/css/bootstrap-alert.min.css">

    <link rel="stylesheet" href="static/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="static/css/admin.css">


    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>

    <script src="static/node_modules/vue/dist/vue.min.js"></script>
    <script defer src="static/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.min.js"></script>

    {% block additional_head %}
    {% endblock %}

    {% block additional_styles %}
    {% endblock %}

  </head>

  <body>

  <div id="app" class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">

      <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
        <div class="sidebar-header">
          <div class="sidebar-logo">
            <a href="/" target="_blank">
              <img src="static/img/publicdomainq-mountains.svg" alt="" />
            </a>
          </div>
          <div class="sidebar-title">Monte Vista Daylillies</div>
          <div class="small">System Database</div>
        </div>
        <a href="/admin/plants" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <span class="d-md-inline menu-glyph"><img src="static/glyphicons_free/glyphicons/png/glyphicons-311-flower.png"></span>
          <span class="d-md-inline">Plants</span>
        </a>
        <a href="/admin/categories" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <span class="d-md-inline menu-glyph"><img src="static/glyphicons_free/glyphicons/png/glyphicons-329-podium.png"></span>
          <span class="d-md-inline">Categories</span>
        </a>
        <a href="/admin/customers" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <span class="d-md-inline menu-glyph"><img src="static/glyphicons_free/glyphicons/png/glyphicons-25-parents.png"></span>
          <span class="d-md-inline">Customers</span>
        </a>
        <a href="/admin/sales" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <span class="d-md-inline menu-glyph"><img src="static/glyphicons_free/glyphicons/png/glyphicons-459-money.png"></span>
          <span class="d-md-inline">Sales</span>
        </a>
        <a href="/admin/system" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
          <span class="d-md-inline menu-glyph"><img src="static/glyphicons_free/glyphicons/png/glyphicons-281-settings.png"></span>
          <span class="d-md-inline">System</span>
        </a>
      </div>

      <main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
        <div id="toggle-sidebar"> 
          <a href="#" id="stog" data-target="#sidebar" data-toggle="collapse">
            <span class="menu-glyph"><img src="static/glyphicons_free/glyphicons/png/glyphicons-517-menu-hamburger.png"></span>
          </a>
          <div id="user-id-logout" class="float-right">
            <div class="bold-12">{{ current_user.firstname }}&nbsp;{{ current_user.lastname }}</div>
            <a href="/admin/logout" class="small">logout</a>
          </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="modal" tabindex="-1" role="dialog" id="admin-modal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </main>

    </div>
  </div>

  <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="static/node_modules/datatables.net/js/jquery.dataTables.js"></script>
  <script src="static/node_modules/dm-file-uploader/dist/js/jquery.dm-uploader.min.js"></script>
  <script src="static/node_modules/tinymce/tinymce.min.js"></script>
  <script src="static/node_modules/tinymce/jquery.tinymce.min.js"></script>
  <script src="static/js/bootstrap-alert.js"></script>
  <script src="static/js/admin.js"></script>

  <script>
    $(document).ready(function() {
        //resize main column to full width when sidebar hidden.
        var sidebar_hidden = false;
        $('#toggle-sidebar a').on('click', function() {
            if (! sidebar_hidden) {
                sidebar_hidden = true;
                $('main')
                    .removeClass('col-md-9')
                    .addClass('col-md-12')
            }
            else {
                sidebar_hidden = false;
                $('main')
                    .removeClass('col-md-12')
                    .addClass('col-md-9')
            }
        });
    });
    //allow tinymce popups to work inside bootstrap modal
    $(document).on('focusin', function(e) {
      if ($(event.target).closest(".mce-window").length) {
        e.stopImmediatePropagation();
      }
    });
  </script>

  {% block scripts %}
  {% endblock %}

  </body>
</html>
