{% extends "admin_layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 page-heading"> 
    <h1>Inventory</h1>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row main-button-row">
      <div class="col-md-3 col-sm-6">
        <button class="btn-lb btn-plus btn" id="add-cat">Add Bed</button>
      </div>
      <div class="col-md-3 col-sm-6">
      </div>
      <div class="col-md-3 col-sm-6">
      </div>
      <div class="col-md-3 col-sm-6">
      </div>
    </div>
    <div class="row">
     <div id="cat-table" class="col-md-12"> 
     </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="static/js/categories.js"></script>

{% endblock %}
