{% extends "admin_layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 page-heading"> 
    <h1>Plants</h1>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row main-button-row">
      <div class="col-md-12 col-sm-12">
        <button class="btn-lb btn-plus btn" id="add-plant" v-on:click="showModal()">Add Item</button>
        <button class="btn-lb btn-plus btn" id="" v-on:click="showUploadModal()">Upload Price Sheet</button>
        <button class="btn-lb btn-plus btn" id="" v-on:click="priceTemplate()">Download Price Template</button>
      </div>
    </div>
    <div class="row">
     <div id="plant-table" class="col-md-12"> 
     </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="admin_modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Item a</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

            <div class="row">

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                  Name
                  </div>
                  <div class="col-md-8">
                    <input id="name"/>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="category">Categories</label>
                <select id="category"></select>
                <div class="submany-box">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <table>
                  <tr>
                    <th>Sub-Item</th>
                    <th>Price</th>
                    <th>Count Available</th>
                  </tr>
                  <tr>
                    <td><input placeholder="item"/></td>
                    <td><input placeholder="price"/></td>
                    <td><input placeholder="count"/></td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-sm-12">
                <input type="checkbox"/>
              </div>
              <div class="col-md-3 col-sm-12">
                <input type="checkbox"/>
              </div>
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="upload_modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Price List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="fileform" enctype="multipart/form-data">
          <input type="file" name="file" id="file" accept=".csv">
        </form>
        <div v-if="upload_error" class="alert alert-danger" role="alert">
            [[ upload_error ]]
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" v-on:click="submitUpload()" class="btn btn-primary">Upload</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}

<script src="static/js/plants_vue.js"></script>
<script src="static/js/plants.js"></script>

{% endblock %}
