html {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    /*background-color: rgba(68, 124,58, .3);*/
    background-color: rgba(69, 113, 28, .1);
    /*background-color: green;*/
    /*color: #534D1B; */
    color: #817342;
    /*background-image: url('/site/static/img/fp_field.jpg');*/
    /*background-size: cover;*/
}
#mvd-app {
    min-height: calc(100vh - 120px);
}
.center {
    text-align: center;
}
.larger1 {
    font-size: 1.1em;
}



/*vue styles*/
.cloaked {
    visibility: hidden;
}


/*buttons*/
.btn-green {
    background-color: #45711c;
    color: #fff;
}
.action-text {
    color: #59BFDE; 
}
.action-text:hover {
    cursor: pointer;
}


/*header*/

.header, .navbar {
    /*background-color: #EEF2F7;*/
    background-color: #fff;
    min-width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.header .row {
    width: 100%;
}
.header .logo-holder .navbar-brand {
    width: 100%;
    text-align: center;
}
.header .logo-holder .navbar-brand img{
    width: 100%;
    max-width: 600px;
}
.header .header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}
.header .header-right .search-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%
}
.header .header-right .search-holder input {
    background-color: #EEF2F7;
    padding-left: .25em;
}
.header .header-right .nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    width: 100%
}
.header i {
    font-size: 1.3em;
    color: #416B1A;
}

.header i:hover {
    cursor: pointer;
}
.header .search-holder > div {
}
#cart {
    /*padding-right: 5px; */
    color: #416B1A;
}
#cart .fa-shopping-cart {
    padding-right: 5px; 
}
#cart-item-count {
}
#cart-dollar-total {
    font-size: 1.1em;
    margin-left: 3px;
    margin-right: 3px;
    color: #AABED8;
}

#cart-checkout {
}

#top-search i {
    font-size: 1.2em;
    color: #416B1A;
}
#top-search input {
    color: #B79A2D;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #B79A2D;
    font-size: 1.3em;
    margin-left: 5px;
}
#top-search input:focus {
    outline: none;
}
#search-result {
    background-color: #fff; 
    position: fixed;
    border: 1px solid #c2c2c2;
    box-shadow: 3px 3px 3px #c2c2c2;
    padding: 5px;
    margin-top: 3px;
    z-index: 1000;
}
.nav-box {
    /*background-color: rgba(170, 190, 216, .3); */
    background-color: #7e9c61;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid rgba(170, 190, 216, .3); 
    border-bottom: 1px solid rgba(170, 190, 216, .3); 
    text-align: center;
    width: 100%;
}
.nav-box.active {
    background-color: rgba(170, 190, 216, .1); 
    border: 1px solid rgba(170, 190, 216, .3); 
}
.nav-box.active a{
    color: #45711C; 
}

.nav-link {
    /*color: #45711C; */
    /*color: #517678;*/
    color: #fff;
    font-size: .9em;
}

.footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    height: 120px;
    line-height: 120px;
    background-color: #fff;
}


/*lightbox*/
#photo-lightbox {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: none;
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#photo-lightbox img {
    border-radius: 7px;
    max-width: 50vw;
    max-height: 80vh;
}
#photo-lightbox .button {
    width: 720px;
    max-width: 50vw;
    text-align: right;
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #fff;
}
#photo-lightbox .button:hover {
    cursor: pointer;
}


@media (max-width: 976px) {
    .header .header-right .search-holder {
        flex-direction: column;
        padding-top: 10px;
    }

}

@media (max-width: 576px) {


}
